.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #E9D5CA;
}

h1 {
  margin: 30px;
  font-family: 'Nunito',sans-serif;
  font-size: 5rem;
  color: #112B3C;
}

p {
  font-size: 2rem;
  color: #001D6E;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
.foot{
  font-size: 3rem;
  color: black;
  font-style: italic;
  font: cursive;
  font-weight: bolder;
}
